<body>

  <header>

      <div class="menu-toggler">
          <div class="bar half start"></div>
          <div class="bar"></div>
          <div class="bar half end"></div>
      </div>
  
      <nav class="top-nav">
          <div class="top-nav-list">
              <ul class="nav-list">
                  <li>
                      <a href="#" class="nav-link">Home</a>
                  </li>
                  
                  <li>
                      <a href="#about" class="nav-link">About</a>
                  </li>
                  
                  <li>
                      <a href="#services" class="nav-link">Services</a>
                  </li>
                  
                  <li>
                      <a href="#portfolio" class="nav-link">Portfolio</a>
                  </li>
                  
                  <li>
                      <a href="#experience" class="nav-link">Experience</a>
                  </li>
                  
                  <li>
                      <a href="#contact" class="nav-link">Contact</a>
                  </li>
              </ul>
          </div>
      </nav>
  
      <div class="landing-text">
          <div class="bg-image"></div>

          <div class="bg-text">
              <h1>Harmony Mncube</h1>
              <h6>Java | Python Developer,
                  UI | UX Designer and Web Developer</h6>
          </div>
      </div>

  </header> 


  <section class="about" id="about">
      <div class="container">

          <div class="about-heading" data-aos="fade-in" data-aos-delay="500">
              <h1>About</h1>
              <h6>Myself</h6>
          </div>

          <div class="about-profile-img" data-aos="fade-right" data-aos-delay="300">
              <img src="/images/profile.JPG" alt="">
          </div>
              
          <div class="about-details" data-aos="fade-left" data-aos-delay="300">

              <div class ="about-details-paragraph">
              
                  <p> I am straight out of university inspired by technology and innovation. I am a committed and proactive machine learning programmer and software developer who is seeking to gain familiarity in the field of computer science.


                     </p>

                    <p>I am currently looking for a position that would be best for gaining experience in either computer science or information systems fields, while further enabling my personal and professional development.

                      </p>

                  <p>Over the past four years, I managed to learn 15 different programming languages, on top of the three main languages that were taught at school and the others I learned through my spare time. I have been exposed to design concepts which include User Experience and Systems Design. I also have skills related to business processes and analysis design.</p> 
              </div>

              <ul class="about-details-socialmedia" data-aos="fade-right" data-aos-delay="300">

                  <li>
                      <a href="https://www.facebook.com/justbeingshezi" class="icon-link">
                          <em class="fab fa-facebook"></em>   
                      </a>
                  </li>

                  <li>
                      <a href="#" class="icon-link">
                          <em class="fab fa-twitter"></em>   
                      </a>
                  </li>
                      
                  <li>
                      <a href="https://www.instagram.com/justbeingshezi/" class="icon-link">
                          <em class="fab fa-instagram"></em>   
                      </a>
                  </li>
              </ul>
          </div> 

      </div>
  </section>


  <section class="services" id="services">
      <div class="container">
        <div class="section-heading">
            <h1>Services</h1>
            <h6>What i can do for you</h6>
        </div>
        <div class="my-skills" data-aos="fade-left" data-aos-delay="2000">

          <div class="skill">
              <div class="icon-container">
                  <em class="fas fa-file-code">
                </em>
              </div>
              <h1>Back-End Development</h1>
              <p>
                  I specialize in Python and Java Back-End Development, 
                  using python (Fast-Api, Django, etc) and Java, but not limited 
                  to PHP, MySQL and DB2.
              </p>
          </div>

            <div class="skill">
                <div class="icon-container">
                    <em class="fas fa-layer-group">
                  </em>
                </div>
                <h1>Web Design | Web Development</h1>
                <p>
                  Speciality in design(typography, color theory) but not limited to
                   developing a website (HTML, CSS, JavaScript) including interaction 
                   design for animations and interactions using CSS and/or JavaScript.
                </p>
            </div>

             <div class="skill">
              <div class="icon-container">
                  <em class="fas fa-chart-bar">
                  </em>
              </div>
              <h1>Product Strategy</h1>
              <p>
                  A high-level plan describtion of what your business 
                  hopes to accomplish with its product and how it plans to do so.
                  Understanding the business needs and its users including 
                  how it will benefit all users involved and the company's goals for the product throughout its lifecycle.
              </p>
             </div>
        </div>
      </div>
  </section>
<!--
  <section class="portfolio" id="portfolio">
      <div class="container">

        <div class="section-heading">
            <h1>Portfolio</h1>
            <h6>View some of my recent work</h6>
        </div>
        <div class="portfolio-item">
            <div class="portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="300" >
              <img src="/images/portitem1.png" alt="">
            </div>
            <div class="portfolio-description" data-aos="fade-left" data-aos-delay="300">
                <h6> Web-Development </h6>
                <h1>Atom: Student Performance App</h1>
                <p>
                  Built an app that shows graphs that help anticipate the possible outcome of a student
                  by means of machine learning and classification algorithms.
                </p>
                <a href="#" class="cta">View Details</a>
            </div>
        </div>

        <div class="portfolio-item">
          <div class="portfolio-description has-margin-right" data-aos="fade-right" data-aos-delay="300">
              <h6> Web-Design </h6>
              <h1> Product Layout</h1>
              <p>dsjfsdfjsfdsfhsjbdsfbsjkfsdjfsd
                  dfgkdfjgdklgdfkgsgkldf
              </p>
              <a href="#" class="cta">View Details</a>
          </div>
          <div class="portfolio-img" data-aos="fade-left" data-aos-delay="300">
            <img src="/images/portitem2.jpeg" alt="">
          </div>
        </div>
         
        <div class="portfolio-item">

          <div class="portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="300">
            <img src="/images/portitem3.jpeg" alt="">
          </div>
          <div class="portfolio-description" data-aos="fade-left" data-aos-delay="300">
              <h6> Development Strategy</h6>
              <h1> Product Sketch</h1>
              <p>dsjfsdfjsfdsfhsjbdsfbsjkfsdjfsd
                  dfgkdfjgdklgdfkgsgkldf
              </p>
              <a href="#" class="cta">View Details</a>
          </div>
        </div>

      </div>
  </section>
  <section class="experience" id="experience">
          <div class="container">
                  
              <div class="section-heading">
                  <h1>Work Experience</h1>
                  <h6>Past and Current Jobs</h6>
              </div>
              <div class="timeline" data-aos="fade-in" data-aos-delay="300">
                  <ul>
                      <li class="date" date-date="2019-2020"> 
                          <h1>Anglo American (Automation  Anywhere Developer x Process Analyst)</h1>
                          <p>
                              Global IM intern : Analysed and Automated Proccesses that didnt neccesarily need human effort using Automation Anywhere. 
                          </p>
                      </li>

                      <li class="date" date-date="2020 - 2021"> 
                          <h1>IBM (Z Software & Hardware Engineer)</h1>
                          <p>
                          Mainframe developer intern :  
                          learned mainframe systems using z/OS. 
                          Cobol, JCL, DB2, etc. 
                          Setting up and assembling the mainframe hardware.
                          </p>
                      </li>

                      <li class="date" date-date="2019 - 2020"> 
                          <h1>Research: Predicting student performance and outcome</h1>
                          <p>
                          Matlab programming:
                          This research aimed to analyse student enrollment and biographical observations
                          in order toidentify ’at-risk’ profiles which have a strong
                          probability of failing to complete the minimumrequirements 
                          for being granted a degree in the Mathematical Science at 
                          WITS University
                          </p>
                      </li>
  
                      <li class="date" date-date="2019 - current"> 
                          <h1>Student Performance App</h1>
                          <p>
                              Built an app that shows graphs that help anticipate the possible outcome of a student
                              by means of machine learning and classification algorithms. 
                          </p>
                      </li>

                      <li class="date" date-date="2019 - current"> 
                          <h1>Emotion Dectaction App</h1>
                          <p>
                              Built an emotion decation app that dectates the emotions of a person using python. 
                              This is dectacts the emotion of a person based on facial expressions live as they are seated infront of their screen. 
                              some additional use cases are still in progress
                          </p>
                      </li>
                  </ul>
              </div>

          </div>
  </section>
  <section class="contact" id="contact">
      <div class="container">

          <div class="section-heading">
              <h1>Contact</h1>
              <h6>Lets Work Together</h6>
          </div>
          <form action="" data-aos="fade-in" data-aos-delay="300">
              <label for="name">Name</label>
              <input type="text" id="name" name="name" placeholder="Enter Your Name..." required>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="Enter Your Email Address" required>
              <label for="services">Services</label>
              <select name="services" id="service">
                  <option value="">Web-Design</option>
                  <option value="">Web-Development</option>
                  <option value="">Web-Analyses</option>
                  <option value="">Product-Strategy</option>
                  <option value="">Java-Development</option>
                  <option value="">Python-Development</option>
              </select>
              <label for="subject">Subject</label>
              <textarea name="subject" id="subject" cols="10" rows="10"></textarea>
              <input type="submit" value="Submit">
          </form>

      </div>
  </section>
-->

<footer class="copyright">
  <div class="up" id="up">
      <em class="fas fa-chevron-up"></em>
  </div>
  <p>&copy;2021 justbeingshezi</p>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="main.js"></script>
</body>
